#name of the vm
[servername]
osfamily = Linux
#Domain for host
vm_domain = localdomain
#Cluster for host
vm_cluster = LAB-Cluster
#hostname of the oVirt hypervisor (of manager)
hypervisor = ovirtm01.localdomain
#username to connect to the oVirt-host (user@domain)
hypervisor_user = admin@internal
hypervisor_password = password
#storage domain name
vm_datastore = eva-datastore01
#memory for the guest in MB
vm_memory = 2048
#number of virtual CPU's
vm_cpus = 1
#disk space in GB
vm_disks = 32,64
#purpose of the guest (description)
vm_purpose = VM to test something
#network to assign
vm_networks = vlan-1013

#hostname of Foreman
foreman = katello.localdomain
#username to connect to the Foreman
foreman_user = admin
foreman_password = password
#hostgroup in foreman
foreman_hostgroup = CentOS7 Minimal
#Organization in foreman
foreman_organization = CMC
#Location in foreman
foreman_location = Core1
#Subnet in foreman
foreman_subnet = CMC Core1 Monitoring
#Partition layout
foreman_ptable = Kickstart default
#Puppet environment
puppet_environment = develop
#puppet server rol
server_role = role::<product>::server
