#name of the vm
[servername]
#Domain for host
domain = localdomain
#Cluster for host
cluster = LAB-Cluster
#hostname of the oVirt hypervisor (of manager)
hypervisor = ovirtm01.localdomain
#username to connect to the oVirt-host (user@domain)
hypervisor_user = admin@internal
hypervisor_password = password
#storage domain name
datastore = eva-datastore01
#memory for the guest in MB
memory = 2048
#number of virtual CPU's
cpus = 1
#disk space in GB
disksize = 32
#purpose of the guest (description)
purpose = VM to test something
#network to assign
network = vlan-1013

#hostname of Foreman
foreman = katello.localdomain
#username to connect to the Foreman
foreman_user = admin
foreman_password = password
#hostgroup in foreman
foreman_hostgroup = CentOS7 Minimal
#Organization in foreman
foreman_organization = CMC
#Location in foreman
foreman_location = Core1
#Subnet in foreman
foreman_subnet = CMC Core1 Monitoring
#Puppet environment
puppet_environment = develop

server_role = role::<product>::server
