[common]
#ask for confirmation? (optional, defaults to 0)
unattended = 0
#Zookeeper address. Used to store puppet role information and to delete ossec auth details
zookeeper_address = zookeeper.localdomain
zookeeper_port = 2181
#Puppetmaster address. Used to clean certificates upon deletion
puppetmaster_address = puppetmaster.localdomain
puppetmaster_port = 8140
#IPA server adress and credentials. Used to assign a host to a specific group (maily used for sudo rules)
freeipa_address = ipa.core.cmc.lan
freeipa_user = admin
freeipa_password = <base64 simplecrypt encrypted password>
#Type of VM. Currently support oracle-rac and other. Defaults to other if not specified
vm_type = other
#shared disks. When vm_type = oracle-rac, shared disks need to be created. When vm_type = other, this is ignored
shared_disks = 4, 1, 1, 4, 4, 6, 15, 15, 6, 4
#use FQDN or just the name
use_fqdn_as_name = 0

#name of the vm
[servername]
osfamily = Linux
#Domain for host
vm_domain = localdomain
#Does VM allready exists? (happens when created manually)
vm_exists = 0
#Cluster for host
vm_cluster = LAB-Cluster
#hostname of the hypervisor manager or vCenter host
hypervisor = hypervisor.localdomain
#type of hypervisor
hypervisor_type = oVirt
#in case of VMware. This is the ESX host on which the VM is deployed
hypervisor_host = host-c06.mgmt.recon.man
#in case of VMware. A VMware version is needed
hypervisor_version = vmx-08
#in case of VMware. Datacenter is needed
vm_datacenter = Datacenter-D01
#in case of VMware. An os is optional
vm_os = rhel6Guest
#in case of VMware. An optional iso can be mounted
#vm_iso = <blank.iso>
#username to connect with the hypervisor
hypervisor_user = admin@internal
hypervisor_password = <base64 simplecrypt encrypted password>
#storage domain name
vm_datastore = poc-datastore1
#memory for the guest in MB
vm_memory = 2048
#number of virtual CPU's
vm_cpus = 1
#number of cores per CPU
vm_cores_per_cpu = 2
#disk space in GB
vm_disks = 16
#purpose of the guest (description)
vm_purpose = VM to test something
#network to assign
vm_networks = vlan-1011
#Network type. standard or dvs (distributed vswitch). Defaults to standard
vm_network_type = standard
#IP address (optional. Currently not needed for Linux VM's but mandatory for Windows VM's)
#vm_ipaddress = 127.0.0.1
#MAC address of interface (only needs to be provided when VM allready exists)
#vm_macaddress = 00:00:00:00:00:00
#snapshot to restore (only used when restoring to a snapshot
snapshot_to_restore = snapshot_name
#must the server be booted up after snapshot restore? (only used when restoring to a snapshot
boot_after_restore = 1
#Do we want to override some parameters?
#override_parameters = [{'puppetmaster': 'puppetmaster02.core.cmc.lan'}]
#Is OSSEC used in this environment?
#ossec_in_env = 1

#hostname of Foreman
foreman = katello.localdomain
#username to connect to the Foreman
foreman_user = admin
foreman_password = <base64 simplecrypt encrypted password>
#hostgroup in foreman
foreman_hostgroup = CentOS7 Minimal
#Organization in foreman
foreman_organization = myorg
#Location in foreman
foreman_location = mylocation1
#Subnet in foreman
foreman_subnet = LOCAL
#Partition layout
foreman_ptable = Kickstart default

#Start the VM after creation
startup_after_creation = 1
#deploy the VM using WDS as DHCP
deploy_via_wds = 1

#Puppet environment (optional, defaults to production)
puppet_environment = production
#Puppet server role (optional)
#puppet_server_role = role::kibana::server
#hostgroup to add host to in IPA (mainly used for sudo rules)
ipa_hostgroup = puppet_dev
