[common]
#ask for confirmation?
unattended = 0

#name of the vm
[servername]
#Domain for host
vm_domain = localdomain
#hostname of the oVirt hypervisor (of manager)
hypervisor = hypervisor.localdomain
#username to connect to the oVirt-host (user@domain)
hypervisor_user = admin@internal
hypervisor_password = password
#snapshot to restore
snapshot_to_restore = backup_yesterday
#must the server be booted up after snapshot restore?
boot_after_restore = 1
